/* Regular */
@font-face {
    font-family: 'Source Sans Pro';
    src: url('./fonts/SourceSansPro-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

/* Semi-Bold */
@font-face {
    font-family: 'Source Sans Pro';
    src: url('./fonts/SourceSansPro-Semibold.otf') format('opentype');
    /* Ensure this file exists */
    font-weight: 600;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'Source Sans Pro';
    src: url('./fonts/SourceSansPro-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

/* Light */
@font-face {
    font-family: 'Source Sans Pro';
    src: url('./fonts/SourceSansPro-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: 'Source Sans Pro';
    src: url('./fonts/SourceSansPro-It.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

/* Start global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Source Sans Pro";
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

/* Small */
@media (min-width:768px) {}

/* Medium */
@media (min-width:992px) {}

/* Large  */
@media (min-width:1200px) {}

/* End global styles */

/* Start first section */
.container {
    background-image: url(./images/headphones_hero_1.jpg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 800px;
    padding: 27px 200px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav img {
    width: 161px;
    height: 32px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    font-size: 12px;
    font-weight: bold;
    padding-left: 40px;
}

header nav ul li a {
    color: #FFFFFf;
}

header nav ul li a:hover {
    color: #FF6565;
}

section.first {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.first div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 290px;
    width: 637px;
    height: 313px;
    color: #FFFFFf;
    text-align: center;
}

section.first div h1 {
    font-weight: bold;
    font-size: 32px;
}

section.first div p:nth-of-type(1) {
    font-weight: bold;
    font-size: 16px;
}

section.first div button {
    font-weight: bold;
    font-size: 14px;
    background-color: #FF6565;
    padding: 14px 30px;
    margin: 40px 0 70px;
    color: #FFFFFf;
    border: 1px;
    border-radius: 29px;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3), -3px -3px 10px rgba(255, 255, 255, 0.3);
}

section.first div p:nth-of-type(2) {
    font-weight: 400;
    font-size: 16px;
}

/* tablet */
@media(max-width:992px) {
    .container {
        padding: 29px 66px;
        background-position: 25% 50%;
    }

    header nav ul li {
        padding-left: 28px;
    }

    section.first div button {
        padding: 14px 23px;
    }
}

/* phone */
@media(max-width:580px) {
    .container {
        padding: 29px 21px;
        height: 869px;
        background-position: 33% 50%;
    }

    header::before {
        content: "\f0c9";
        font-family: "Font Awesome 6 Free";
        font-weight: 600;
        color: #FFFFFf;
        position: relative;
        top: 30px;
        font-size: 20px;
        transition: content 0.3s ease;
    }

    header:hover:before,
    header:hover ul {
        content: "\f00d";
        display: flex;
    }

    header nav {
        flex-direction: column;
    }

    header nav ul {
        flex-direction: column;
        display: none;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    header nav ul li {
        font-weight: 400;
        font-size: 16px;
        padding-top: 25px;
        padding-left: 0;
    }
}

/* End first section */

/* Start What We Do Section */

section.what-we-do {
    padding: 100px 200px;
    text-align: center;
}

section.what-we-do h2 {
    font-size: 32px;
    font-weight: 600;
}

section.what-we-do p.main-p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    max-width: 637px;
}

section.what-we-do div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1002px;
}

section.what-we-do div div {
    max-width: 207px;
    height: 179px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

section.what-we-do div div img {}

section.what-we-do div div h3 {
    font-size: 18px;
    font-weight: 600;
    padding: 20px 0;
}

section.what-we-do div div p {
    font-size: 14px;
    font-weight: 400;
}

/* tablet */
@media(max-width:990px) {
    section.what-we-do {
        padding: 100px 100px 0 100px;
    }

    section.what-we-do div {
        flex-wrap: wrap;
        justify-content: center;
    }

    section.what-we-do div div {
        margin-bottom: 90px;
    }
}

/* mobile */
@media(max-width:380px) {
    section.what-we-do {
        padding: 100px 20px 0;
    }

    section.what-we-do div div {
        height: auto;
    }
}

/* End What We Do Section */

/* Start Our Results */
section.our-results {
    background-image: url(./images/headphones_hero_2.jpg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    max-height: 650px;
    padding: 100px 200px 50px;
    color: #FFFFFf;
    text-align: center;
}

section.our-results h3 {
    font-size: 32px;
    font-weight: 600;
}

section.our-results p.main-p {
    font-size: 16px;
    font-weight: 300;
    max-width: 673px;
    margin-right: auto;
    margin-left: auto;
    padding: 30px 0 70px;
}

section.our-results div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.our-results div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 190px;
    background-color: #FF6565;
    clip-path: polygon(50% 0%, 100% 38.2%, 81.8% 100%, 18.2% 100%, 0% 38.2%);
}


section.our-results div div h4 {
    font-size: 46px;
    font-weight: 700;
}

section.our-results div div p {
    font-size: 14px;
    font-weight: 400;
}

/* tablet */
@media(max-width:1200px) {
    section.our-results {
        padding: 100px 60px 25px;
        max-height: 876px;
    }

    section.our-results div {
        flex-wrap: wrap;
        justify-content: center;
    }

    section.our-results div div {
        margin: 30px;
    }
}

/* mobile */
@media(max-width:650px) {
    section.our-results {
        padding: 100px 20px 30px;
        max-height: 1491px;
    }
}

/* End Our Results */

/* Start Contact Us */
section.contact-us {
    padding: 100px 20px;
    text-align: center;
}

section.contact-us h3 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

section.contact-us form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.contact-us form div.form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px;
}

section.contact-us form div.form-group label {
    font-size: 14px;
    font-weight: 600;
    color: #071629;
}

section.contact-us form div.form-group input {
    border: none;
    border-bottom: 1px solid #979797;
    width: 335px;
}

section.contact-us button {
    font-weight: bold;
    font-size: 14px;
    background-color: #FF6565;
    padding: 14px 30px;
    margin: 40px 0 70px;
    color: #FFFFFf;
    border: 1px;
    border-radius: 29px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@media(max-width:360px) {
    section.contact-us form div.form-group input {
        width: 100%;
    }
}

/* End Contact Us */

/* start footer */

footer {
    height: 249px;
    background-color: #071629;
    padding: 100px 200px;
}

footer section div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer section div img {
    width: 161px;
}

footer section div i {
    padding: 5px 7px;
    font-size: 20px;
    margin: 10px;

}

footer section div .fa-facebook {
    font-size: 30px;
    color: #FFFFFf;
    border-radius: 50%;
    
}

footer section div .fa-twitter {
    color: #071629;
    background-color: #FFFFFf;
    border-radius: 50%;
}

footer section div .fa-instagram {
    color: #071629;
    background-color: #FFFFFf;
    border-radius: 50%;
}

footer p {
    position: relative;
    width: fit-content;
    bottom: -3%;
    top: 48px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: 400;
    color: #ffffffa8;
}

@media(max-width:1000px){
    footer{
        padding:100px 30px;
    }
}

@media(max-width:491px){
    footer{
        padding:40px 30px;
    }
    footer section div {
        flex-direction: column;
    }
    footer .icons{
        flex-direction: row;
        margin-top: 35px;
    }
}
/* End footer */